header {
  background: transparent;
  padding: 20px 0;
  position: fixed;
  top: 0;
  transition: box-shadow .3s ease;
  width: 100%;
  z-index: 99;

  .counter {
    a {
      text-decoration: none;

      .far {
        color: $primaryFontColor;
        font-size: 20px;
        vertical-align: text-top;
      }

      span {
        color: $primaryFontColor;
        font-size: 14px;
        padding-left: 5px;

        &.days {
          padding-left: 0;
        }
      }

      &:hover .far {
        font-weight: 900;
        transition: all .3s ease;
      }
    }
  }

  .nav-bttn {
    text-align: center;

    a {
      color: $primaryFontColor;
      font-size: 14px;
      text-decoration: none;
    }
  }

  &.secondary-header {
    background: #FFF;

    .counter {
      .far, span {
        color: $secondaryFontColor;
      }
    }

    .nav-bttn {
      a {
        color: $secondaryFontColor;
      }
    }
  }

  &.navbar-shadow {
    box-shadow: 0 4px 8px -4px rgba(0,0,0,0.25);
    transition: all .3s ease;
  }
}




/***************************************************************************/
/**************************** RESPONSIVE STYLING ***************************/
/***************************************************************************/

@media (max-width: 767px) {
  header {
    .counter {
      a {
        .far {
          font-size: 18px;
        }
      }
    }

    .nav-bttn {
      text-align: right;

      a {
        font-size: 12px;
      }
    }

    &.secondary-header {
      padding: 20px 0;

      .counter {
        span {
          font-size: 12px;
          padding-left: 5px;
          vertical-align: text-top;
        }
      }
    }
  }
}
